﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*-----------------Form----------------*@
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h2>Login</h2>
            <div>
                <input type="text" id="usernameInput" placeholder="Username" aria-label="username" class="form-control">
                <input type="password" id="passwordInput" placeholder="Password" aria-label="password" class="form-control">
                <button id="LoginBtn" class="btn btn-primary">Login</button>
                <button id="openRegisterModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#RegisterModal">Register </button>
                <div id="status"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@*-----------------Register----------------*@
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control" id="Name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="Username"></input>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="Password"></input>
                    </div>
                </form>
                <div id="statusRegister"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="RegisterSubmit" type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>


<script>
    //modal register boostrap


    $('#RegisterModel').on('show.bs.modal', function (event) {
            
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

    // Login
    $(document).ready(function () {
        $("#LoginBtn").click(function () {
            if ($("#usernameInput").val() == "")
                alert("Username cannot be empty.")
            else if ($("#passwordInput").val() == "")
                alert("Password cannot be empty.")

             else {
                $.ajax({
                    type: "POST",
                    url: "/Login/GetLogin",
                    contentType: "application/json; charset=utf-8",
                    data: '{"username":"' + $("#usernameInput").val() + '","password":"' + $("#passwordInput").val() + '"}',
                    dataType: "Json",
                    success: function (result) {
                        
                        if (result.status == 200) {
                            
                            $("#status").html("Login succeed");
                            window.location = "/Home";
                        }
                        else if (result.statusCode == 500 && result.statusMessage == null)
                            $("#status").html("Username or Password invalid");
                        else if (result.statusCode == 500 && result.statusMessage != null)
                            $("#status").html("Login Fail");
                        else if (result.statusCode == 400)
                            $("#status").html("Something went wrong");

                    },
                    error: function (xhr, status, error) {
                        $("#status").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
        });

         $("#RegisterSubmit").click(function () {
             if ($("#Name").val() == "")
                 alert("name cannot be empty.")
             else if ($("#Username").val() == "")
                 alert("Username cannot be empty.")
             else if ($("#Password").val() == "")
                 alert("Password cannot be empty.")
             else {
                 $.ajax({
                     type: "POST",
                     url: "/Login/GetRegister",
                     contentType: "application/json; charset=utf-8",
                     data: '{"name":"' + $("#Name").val() + '","username":"' + $("#Username").val() + '","password":"' + $("#Password").val() + '"}',
                     dataType: "Json",
                     success: function (result) {
                         
                         if (result.status == 200) {
                             $("#statusRegister").html("Succeed Register");
                             window.location = "/Home";
                         }                                                   
                         else if (result.statusCode == 500 && result.statusMessage == null)
                            $("#statusRegister").html("already have username");
                         else if (result.statusCode == 500 && result.statusMessage != null)
                            $("#statusRegister").html("Register Fail");
                         else if (result.statusCode == 400)
                              $("#statusRegister").html("Something went wrong");
                     },
                     error: function (xhr, status, error) {
                         $("#statusRegister").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                     }
                 });
              }
         });
  
        $("#openRegisterModal").click(function () {
            $("#Name").val('')        
            $("#Username").val('') 
            $("#Password").val('') 
            $("#status").empty();
            $("#statusRegister").empty();
        });
        

       
          

    });

</script>