﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jTable")
    @section scripts{
        <!--Adding Theme for jTable Grid-->
        <!--You can choose any type of theme from the themes folder-->
        <link href="~/Scripts/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" />
        @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
        <link href="http://jtable.org/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>

        <!--Adding jTable Plugin-->
        <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>

        <!--Adding our script file-->
        <script src="~/Scripts/Script.js"></script>
    }

</head>
<body>
    @section scripts{
        <!--Adding Theme for jTable Grid-->
        <!--You can choose any type of theme from the themes folder-->
        <link href="~/Scripts/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" />
        @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
        <link href="http://jtable.org/Content/themes/metroblue/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

        <!--Adding jTable Plugin-->
        <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>

        <!--Adding our script file-->
        <script src="~/Scripts/Script.js"></script>
    }

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jTable")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
