﻿@{
    ViewBag.Title = "Product Page";
}


@*-------------------------NavBar--------------------------*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="nav-item dropdown">
                <a id="btnAdd" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="openProductModal" class="dropdown-item" href="#" data-toggle="modal" data-target="#ProductModal">Product </a>
                    <a id="openCategoryModal" class="dropdown-item" href="#" data-toggle="modal" data-target="#CategoryModal">Category </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a id="btnAdd" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    List
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="listProduct" class="dropdown-item" href="#" data-toggle="modal" data-target="#">Product </a>
                    <a id="listCategory" class="dropdown-item" href="#" data-toggle="modal" data-target="#">Category </a>
                </div>
            </li>

        </ul>
    </div>
</nav>




@*-----------------Add Product----------------*@
<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="Product" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control" id="NameProduct"></input>
                    </div>
                    @*<div class="form-group">
                   <label for="message-text" class="col-form-label">Category:</label>
                   <input type="text" class="form-control" id="Category"></input>
                </div>*@
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Cost:</label>
                        <input type="text" class="form-control" id="Cost"></input>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Price:</label>
                        <input type="text" class="form-control" id="Price"></input>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Category:</label>
                        <br />
                        @Html.DropDownList("categoryDropdown", (IEnumerable<SelectListItem>)ViewData["category"], new { @class = "btn btn-light form-control" })
                    </div>
                </form>
            </div>
            <div id="statusAddProduct" class="text-danger"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="ProductSubmit" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@*-----------------Add Category----------------*@
<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="Product" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name :</label>
                        <input type="text" class="form-control" id="NameCategory">
                    </div>
                </form>
                <div id="statusCategory" class="text-danger"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="CategorySubmit" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#ProductSubmit").click(function () {
            if ($("#NameProduct").val() == "")
                alert("Name cannot be empty.")
            else if ($("#categoryDropdown").val() == "")
                alert("Category cannot be empty.")
            else if ($("#Cost").val() == "")
                alert("Cost cannot be empty.")
            else if (!$.isNumeric($("#Cost").val())) {
                $("#Cost").focus().select();
                alert("Cost field must be number")
            }
            else if ($("#Price").val() == "")
                alert("Price cannot be empty.")
            else if (!$.isNumeric($("#Price").val())) {
                alert("price field must be number")
                 $("#Price").focus().select();
            }                
            else {
                $.ajax({
                    type: "POST",
                    url: "/Home/AddProduct",
                    contentType: "application/json; charset=utf-8",
                    data: '{"name":"' + $("#NameProduct").val() + '","category":"' + $("#categoryDropdown").val() + '","cost":"' + $("#Cost").val() + '","price":"' + $("#Price").val() + '"}',
                    dataType: "Json",
                    success: function (result) {
                        console.log()
                        if (result.status == 200) {
                            $("#statusAddProduct").html("succeed");
                             alert("success");
                            window.location = "/Home";
                        }
                        else if (result.statusCode == 500)
                            $("#statusAddProduct").html("already have Category Name");
                        else if (result.statusCode == 501)
                            $("#statusAddProduct").html("Add Fail");
                        else if (result.statusCode == 400)
                            $("#statusAddProduct").html("Something went wrong");

                    },
                    error: function (xhr, status, error) {
                        $("#statusAddProduct").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
        });


        $("#CategorySubmit").click(function () {
            if ($("#NameCategory").val() == "")
                alert("Name cannot be empty.")
            else {
                $.ajax({
                    type: "POST",
                    url: "/Home/AddCategory",
                    contentType: "application/json; charset=utf-8",
                    data: '{"name":"' + $("#NameCategory").val() + '"}',
                    dataType: "Json",
                    success: function (result) {
                        console.log()
                        if (result.status == 200) {
                            $("#statusCategory").html("succeed");
                            alert("success");
                            window.location = "/Home";
                        }
                        else if (result.statusCode == 500)
                            $("#statusCategory").html("already have Category Name");
                        else if (result.statusCode == 501)
                            $("#statusCategory").html("Add Fail");
                        else if (result.statusCode == 400)
                            $("#statusCategory").html("Something went wrong");

                    },
                    error: function (xhr, status, error) {
                        $("#statusCategory").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }
                });
            }
        });

        $("#btnAdd").click(function () {
            $("#NameProduct").val('') 
            //$("#categoryDropdown").val('')   
            $("#Cost").val('')   
            $("#Price").val('')   
            $("#NameCategory").val('')   
            
        });

    });
</script>
