﻿
@{
    ViewBag.Title = "ProductJtable";

}

test
<h2>ProductJtable</h2>

<div class="container">
    <div class="col-md-12">
        <div id="PersonTable"></div>
    </div>
</div>





<script>
    $(document).ready(function () {
       
         $("#PersonTable").jtable({
            title: 'Patient List',
            paging: true,
            actions: {
                listAction: '/home/ProductList',

            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: true
                },
               Name: {
                    title: ' Name',
                    width: '23%'
                },
                Category: {
                    title: ' Category',
                    width: '23%'
                },
                Cost: {
                     title: ' Cost',
                    width: '23%'
                },
                  Price: {
                     title: ' Price',
                    width: '23%'
                }
            }
        });

        //Load person list from server
        $("#PersonTable").jtable('load');



    });



</script>

